﻿
@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>


<div class="Contact">
    <form action="" method="post">
        <div class="postItemsDivs">
            <label for="name">Nume</label>
        </div>

        <div align="left" style="position:relative; float:left; border:0px solid #000; width:350px; margin-left:30px; margin-bottom:10px;">
            <input type="text" name="name" id="name" style="border:1px solid #999; height:30px; border-radius:4px; width:200px; padding-left:5px; font:16px calibri;" value="">
        </div>

        <div class="postItemsDivs">
            <label for="email">Email</label>
        </div>

        <div align="left" style="position:relative; float:left; border:0px solid #000; width:350px; margin-left:30px; margin-bottom:10px;">
            <input type="text" name="email" id="email" style="border:1px solid #999; height:30px; border-radius:4px; width:200px; padding-left:5px; font:16px calibri;" value="">
        </div>

        <div class="postItemsDivs">
            <label for="mesaj">Mesaj</label>
        </div>

        <div align="left" style="position:relative; float:left; border:0px solid #000; width:350px; margin-left:30px; margin-bottom:10px;">
            <textarea name="mesaj" id="mesaj" rows="6" cols="60" style="border:1px solid #999; border-radius:4px; padding:5px; font:16px calibri; z-index:500000000;"></textarea>
        </div>



        <input type="hidden" name="token" value="cae8cee3e0afc94ab5c1de181ba5b45b">
        <div align="left" style="position:relative; float:left; border:0px solid #000; width:350px; margin-left:30px; margin-bottom:10px;">
            <input type="submit" value="Trimite" style="font:16px calibri; width:207px; color:#000;">
        </div>
    </form>
</div>