﻿#dv1 {
    border: 1px solid #DBDCE9;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    border-radius: 7px;
    padding: 25px;
    position: relative;
}


li:last-child {
    border: none;
}

li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.footer {
    margin-top: 2%;
    border-top: 1px solid #dadad8;
}

.about {
    height: 550px;
}

.contact {
    height: 515px;
}

.navbar-edited {
    background: #205081;
}

.navbar-nav > li > a {
    color: white;
}

.navbar-nav > li > a:hover {
        background: #3572b0;
    }

#Txt {
    width: 550px;
    height: 100px;
    clear: both;
}

.program{
    font-size: 20px;
    width: 265px;

}