﻿body {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.toggle-class {
    background-image: url(images/ic_menu_wht_1x.png);
    background-repeat: no-repeat;
}


#navbar-home {
    background: #3572b0;
    color: white;
}

.eX::before, .ew::before, .jD::before {
    border-radius: 50%;
}

.fl-footer-site-stat-key {
    color: #a3a5a9;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    display: block;
}

#footer {
    border-top: 1px solid lightgrey;
    padding: 3px;
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Contact {
    position: relative;
    float: left;
    border: 0px solid #000;
    width: 620px;
    margin-top: 20px;
}

.postItemsDivs {
    align: left;
    position: relative;
    float: left;
    border: 0px solid #000;
    width: 350px;
    margin-left: 30px;
    font: 16px calibri;
}
