﻿
    <div class="anunt">
        <p>
            AUDI,ALFA ROMEO,BMW,CITROEN, CHEVROLET, DACIA, DAEWOO, FORD, FIAT, HONDA,
            HYUNDAI, KIA,LANCIA,MAZDA, MITSUBISHI, MERCEDES-BENZ, NISSAN, OPEL,PEUGEOT,
            TOYOTA, SUZUKI, RENAULT, SEAT, SKODA, VOLKSWAGEN, VOLVO ETC.
        </p>

        <p>Se pot citit toti senzorii in timp real si se poate depista orice defect!</p>

        <p>
            In cazul in care sunt defectiuni la diferiti senzori sau pe partea electrica pot
            interveni pentru reparatii sau inlocuire!
        </p>

        <p>
            NOU!!! CURAT supapa EGR, clapeta acceleratie, tubulatura intercooler,
            debilmetru aer, tubulatura aer acestea fiind foarte importante pentru durata
            de viata a motorului si mai ales pentru consumul de combustibil. + curat sistemul
            de climatizare cu solutii profesionale antibacteriene.
        </p>

        <p>Ofer GARANTIE pe modificarile/reparatiile efectuate!</p>
        <p>Diagnosticarea se poate face si la domiciliul clientului!</p>
        
        </div>


