﻿@{
    ViewBag.Title = "Tarif";
}

<h2>Tarif</h2>

    <h3>
        <p>40 lei</p>
    </h3>

    <h3>
        <p>60 lei la domiciliu</p>
    </h3>

    <h3>
        <p>90 lei urgente (in afara programului)</p>
    </h3>

    <h3>
        <p>In cazul in care aveti prieteni/cunostinte care au nevoie de serviciile mele la 2 diagnoze a 3 a este GRATUITA !!!</p>
    </h3>
